name: Release PDF
on:
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout repository
          uses: actions/checkout@v5
        
        - name: Install LaTeX
          run: | 
            sudo apt install -y texlive-full
        
        - name: Compile LaTeX document
          run: | 
            latexmk
          working-directory: src
        
        - name: Upload PDF artifact
          uses: actions/upload-artifact@v3
          with:
            name: appunti-latex-pdf
            path: src/build/pdf
        
        - name: Release
          uses: softprops/action-gh-release@v2
          if: github.ref_type == 'tag'
          with:
            files: |
                src/build/pdf/*.pdf
                LICENSE.txt